[submodule "dependencies/opencv"]
	path = dependencies/opencv
	url = git@github.com:opencv/opencv.git
[submodule "dependencies/mediapipe"]
	path = dependencies/mediapipe
	url = https://github.com/google/mediapipe.git
